.outer-wrapper {
  display: block;
  margin: 0 auto;
}

.kb-focus {
  & *:focus {
    outline: 3px solid #ffa500;
  }

  button:focus {
    outline: 3px solid #ffa500;
  }
}

.fade {
  transition: all 1s ease-in-out;
}

.hide {
  opacity: 0;
  transform: translateY(30px);
}

@include media-breakpoint-up(sm) {
  .outer-wrapper {
    width: 75%;
  }
}
