* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:focus {
    outline: 3px solid #ffa500;
  }
}

body {
  font-family: "Arial", sans-serif;
  font-size: 1.125em;
  color: #fff;
  background-color: #000;
}

p {
  margin-top: 10px;
}

main {
  margin-top: 15px;
  padding: 0 20px;
}

li {
  list-style: none;
}

button:focus {
  outline: 3px solid #ffa500;
}

@include media-breakpoint-up(sm) {
  select {
    display: inline-block;
  }

  main {
    margin-top: 20px;
    padding: 0 10px;
  }

  main,
  header {
    margin-left: 20px;
  }
}
