* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1.125em;
  color: #fff;
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3)), url("https://pixboost.com/api/2/img/https://bog-pathfinder.netlify.com/assets/images/mountain_pass.jpg/fit?size=1000x2000&auth=MzA2Njg1OTM2MA__");
  background-size: auto 100vh;

  > div {
    height: 100vh;
    background-color: rgba(35, 35, 35, 0.4);
  }
}

p {
  margin-top: 10px;
}

main {
  margin-top: 15px;
  padding: 0 20px;
}

li {
  list-style: none;
}

@include media-breakpoint-up(sm) {
  select {
    display: inline-block;
  }

  main {
    margin-top: 20px;
    padding: 0 10px;
  }

  main,
  header {
    margin-left: 20px;
  }
}
